
  <mdb-carousel [animation]="'slide'" >
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../assets/food1.jpg" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../assets/food2.jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../assets/food3.jpg" alt="Third slide">
    </mdb-carousel-item>
  </mdb-carousel>



<mdb-breadcrumb >
    <mdb-breadcrumb-item class="blue-text" >Home</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">Food</mdb-breadcrumb-item>
  </mdb-breadcrumb>
 


<h3 style="text-align: center;"><b>Our Menu</b></h3><br>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: lightpink; margin-bottom: 10px;" >
      <a routerLink="/food/starter" style="color: rgba(83, 14, 14, 0.938);"><b>
        Starter
      </b></a>
      <span class="badge badge-light">7</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color:pink; margin-bottom: 10px;" >
        <a routerLink="/food/soup" style="color: rgba(83, 14, 14, 0.938);"><b>
          Soups
        </b></a>
        <span class="badge badge-light">4</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #f8afc9 ; margin-bottom: 10px;" >
        <a routerLink="/food/p&r" style="color: rgba(83, 14, 14, 0.938);"><b>
            Pasta & Risotto
        </b></a>
        <span class="badge badge-light">8</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: lightpink; margin-bottom: 10px;" >
        <a routerLink="/food/pizza" style="color: rgba(83, 14, 14, 0.938);"><b>
            Pizza
        </b></a>
        <span class="badge badge-light">4</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: pink; margin-bottom: 10px;" >
        <a routerLink="/food/m,p&s" style="color: rgba(83, 14, 14, 0.938);"><b>
            Meat, Poultry & Seafood
        </b></a>
        <span class="badge badge-light">9</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #f8afc9 ; margin-bottom: 10px;" >
        <a routerLink="/food/side" style="color: rgba(83, 14, 14, 0.938);"><b>
            Sides 
        </b></a>
        <span class="badge badge-light">5</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: lightpink  ; margin-bottom: 10px;" >
        <a routerLink="/food/dessert" style="color: rgba(83, 14, 14, 0.938);"><b>
            Dessets 
        </b></a>
        <span class="badge badge-light">5</span>
    </li>
</ul>