
  <mdb-carousel [animation]="'slide'" >
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../assets/food1.jpg" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../assets/food2.jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../assets/food3.jpg" alt="Third slide">
    </mdb-carousel-item>
  </mdb-carousel>



<mdb-breadcrumb >
    <mdb-breadcrumb-item class="blue-text" >Home</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">Food</mdb-breadcrumb-item>
  </mdb-breadcrumb>
 


<h3 style="text-align: center;"><b>Our Menu</b></h3><br>
<button mdbBtn type="button" gradient="blue" size="lg"  block="true" style="text-align:left" mdbWavesEffect routerLink="/food/starter">
    <div class="row">
        <div class="col-10"><p>Starters</p></div>
        <div class="col-2"><p>7</p></div>
    </div>
</button> <br>
<button mdbBtn type="button" gradient="blue" size="lg"  block="true" style="text-align:start ;" mdbWavesEffect>
    <div class="row">
        <div class="col-10"><p>Soups</p></div>
        <div class="col-2"><p>2</p></div>
    </div>
</button> <br>
<button mdbBtn type="button" gradient="blue" size="lg" block="true" style="text-align:start ;" mdbWavesEffect>
    <div class="row">
        <div class="col-10"><p>Pasta & Risotto</p></div>
        <div class="col-2"><p>8</p></div>
    </div>
</button> <br>
<button mdbBtn type="button" gradient="blue" size="lg" block="true" style="text-align:start ;" mdbWavesEffect>
    <div class="row">
        <div class="col-10"><p>Pizza</p></div>
        <div class="col-2"><p>4</p></div>
    </div>
</button> <br>
<button mdbBtn type="button" gradient="blue" size="lg" block="true" style="text-align:start ;" mdbWavesEffect>
    <div class="row">
        <div class="col-10"><p>Meat, Poultry & Seafood</p></div>
        <div class="col-2"><p>9</p></div>
    </div>
</button> <br>
<button mdbBtn type="button" gradient="blue" size="lg" block="true" style="text-align:start ;" mdbWavesEffect>
    <div class="row">
        <div class="col-10"><p>Sides</p></div>
        <div class="col-2"><p>5</p></div>
    </div>
</button> <br>
<button mdbBtn type="button" gradient="blue" size="lg" block="true" style="text-align:start ;" mdbWavesEffect>
    <div class="row">
        <div class="col-10"><p>Dessets</p></div>
        <div class="col-2"><p>8</p></div>
    </div>
</button> <br>
