#container
{
    object-fit: cover;
    width: 100%;
    background-image: url(../../assets/contact.jpg); 	
    background-repeat: no-repeat; 	
    background-position: center center; 	
    -webkit-background-size: cover; 
    background-attachment: fixed;	
    background-size: cover; 
    
}