
  <mdb-carousel [animation]="'slide'" >
    <mdb-carousel-item>
      <img class="d-block w-100 h-50" src="../../assets/drink1.jpg" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100 h-50" src="../../assets/drink2.jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100 h-50" src="../../assets/drink3.jpg" alt="Third slide">
    </mdb-carousel-item>
  </mdb-carousel>



<mdb-breadcrumb >
    <mdb-breadcrumb-item class="blue-text" >Home</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">Drink</mdb-breadcrumb-item>
  </mdb-breadcrumb>
 


<h3 style="text-align: center;"><b>Our Menu</b></h3><br>
<button mdbBtn type="button" gradient="blue" size="lg"  block="true" style="text-align:left" mdbWavesEffect routerLink="/drink/hot">
    <div class="row">
        <div class="col-10"><p>Hot drinks</p></div>
        <div class="col-2"><p>6</p></div>
    </div>
</button> <br>
<button mdbBtn type="button" gradient="blue" size="lg"  block="true" style="text-align:left" mdbWavesEffect routerLink="/drink/cold">
    <div class="row">
        <div class="col-10"><p>Cold drinks</p></div>
        <div class="col-2"><p>3</p></div>
    </div>
</button> <br>
