<mdb-breadcrumb>
    <mdb-breadcrumb-item class="blue-text">Home</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="blue-text">Food</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">Starters</mdb-breadcrumb-item>
</mdb-breadcrumb>

<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <!-- Card -->
    <div class="card h-100" style="padding-left: 5; padding-right: 5;">

      <!--Card image-->
      <div class="view overlay"style="height: 70%;">
        <img class="card-img-top" src="../../assets/starter1.jpg"
          alt="Card image cap" style="height: 100%;">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">Salade césar</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
          card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Commander</button>

      </div>

    </div>
    <!-- Card 1-->
  </div>
  <div class="col mb-4">
    <!-- Card 2-->
    <div class="card h-100"style="padding-left: 5; padding-right: 5;">

      <!--Card image-->
      <div class="view overlay" style="height: 70%;">
        <img class="card-img-top" src="../../assets/starter2.jpg"
          alt="Card image cap" style="height: 100%;">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">Salade niçoise</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
          card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Commander</button>

      </div>

    </div>
    <!-- Card 2-->
  </div>
  <div class="col mb-4">
    <!-- Card 3-->
    <div class="card h-100" style="padding-left: 5; padding-right: 5;">

      <!--Card image-->
      <div class="view overlay" style="height: 70%;">
        <img class="card-img-top" src="../../assets/starter3.jpg"
          alt="Card image cap" style="height: 100%;">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">Salade fruit de mer</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
          card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Commander</button>

      </div>

    </div>
    <!-- Card -->
  </div>
  <div class="col mb-4">
    <!-- Card 4-->
    <div class="card h-100" style="padding-left: 5; padding-right: 5;">

      <!--Card image-->
      <div class="view overlay" style="height: 70%;">
        <img class="card-img-top" src="../../assets/starter4.jpg"
          alt="Card image cap" style="height: 100%;">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">Salade de riz</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
          card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Commander</button>

      </div>

    </div>
    <!-- Card -->
  </div>