<!-- Intro Section -->
<div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('../../assets/fond.jpg'); background-size: cover;">
  <div class="mask flex-center full-bg-img rgba-black-strong">
    <div class="container flex-center">
      <div class="row pt-5 mt-3 w-100">
        <div class="col-md-12">
          <div class="text-center">
            <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>Welcome to <br>DotCom Restaurant</strong></h2>
            <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
            <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>L'ART DE CUISINE</strong></h5>
          </div>
        </div>  
          
            
        <div > 
              <ul style="display: flex; ">
                <li style="display: inline; margin-right: 10px; margin-left: -220px;">
                <mdb-card class="card" style="height: 270px;">
                  <img src="../../assets/starter1.jpg" style="width: 200px; height: 200px;" alt="Entrées">
                  <mdb-card-body>
                    <mdb-card-title>
                      <h5><a routerLink="/starter">Entrées</a></h5>
                    </mdb-card-title>
                  </mdb-card-body>
                </mdb-card>
                </li>
                <li style="display: inline; margin-right: 10px;">
                  <mdb-card class="card" style="height: 270px;">
                    <img src="../../assets/soupe.jpg" style="width: 200px; height: 200px;" alt="Soupes">
                    <mdb-card-body>
                      <mdb-card-title>
                        <h5><a routerLink="/soup">Soupes</a></h5>
                      </mdb-card-title>
                    </mdb-card-body>
                  </mdb-card>
                  </li>
                  <li style="display: inline; margin-right: 10px;">
                    <mdb-card class="card" style="height: 270px;">
                      <img src="../../assets/pates.jpg" style="width: 200px; height: 200px;" alt="Pâtes & Riz">
                      <mdb-card-body>
                        <mdb-card-title>
                          <h5><a routerLink="/p&r">Pâtes & Riz</a></h5>
                        </mdb-card-title>
                      </mdb-card-body>
                    </mdb-card>
                    </li>
                    <li style="display: inline; margin-right: 10px;">
                      <mdb-card class="card" style="height: 270px;" >
                        <img src="../../assets/pizza.jpg" style="width: 200px; height: 200px;" alt="Pizza">
                        <mdb-card-body>
                          <mdb-card-title>
                            <h5><a routerLink="/pizza">Pizza</a></h5>
                          </mdb-card-title>
                        </mdb-card-body>
                      </mdb-card>
                      </li>
                      <li style="display: inline; margin-right: 10px;">
                        <mdb-card class="card" style="height: 270px;">
                          <img src="../../assets/food2.jpg" style="width: 200px; height: 200px;" alt="Viande & Poulet">
                          <mdb-card-body>
                            <mdb-card-title>
                              <h5><a routerLink="/v&p">Viande & Poulet</a></h5>
                            </mdb-card-title>
                          </mdb-card-body>
                        </mdb-card>
                        </li>
                        <li style="display: inline; margin-right: 10px;">
                          <mdb-card class="card" style="height: 270px;">
                            <img src="../../assets/fruitmer.jpg" style="width: 200px; height: 200px;" alt="Desserts">
                            <mdb-card-body>
                              <mdb-card-title>
                                <h5><a routerLink="/seafood">Fruit de mer</a></h5>
                              </mdb-card-title>
                            </mdb-card-body>
                          </mdb-card>
                          </li>
                          <li style="display: inline; margin-right: 10px;">
                            <mdb-card class="card" style="height: 270px;">
                              <img src="../../assets/dessert.jpg" style="width: 200px; height: 200px;" alt="Desserts">
                              <mdb-card-body>
                                <mdb-card-title>
                                  <h5><a routerLink="/dessert, productList"> Desserts</a></h5>
                                </mdb-card-title>
                              </mdb-card-body>
                            </mdb-card>
                            </li>
                          <li style="display: inline; margin-right: 10px;">
                            <mdb-card class="card" style="height: 270px;">
                              <img src="../../assets/drink3.jpg" style="width: 200px; height: 200px;" alt="Desserts">
                              <mdb-card-body>
                                <mdb-card-title>
                                  <h5><a routerLink="/drink">Boissons</a></h5>
                                </mdb-card-title>
                              </mdb-card-body>
                            </mdb-card>
                            </li>
                    </ul>
          </div>
       </div>        
     </div>
</div>



